.logo img{
    width: 70px;
    height: 70px;
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* logo */
.logo{
    display: flex;
    margin-left: 20px;  
    
}
.logo h1{
    margin-left: 15px;
}
.home{
    margin-left: 270px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu a{
    padding: 20px;
    font-size: 20px;
}
.login{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.login button{
    width: 60px;
    height: 30px;
}
.login a{
    margin-left: 20px;
}
.login i{
    margin-left: 20px;
}
.mainmenu a{
    margin-left: 10px;
}

.dropdown{
    position: relative;
}
.sub-menu{
    display: none;
}
.dropdown:hover .sub-menu{
    display: inline-block;
    position: absolute;
    top: 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
/* footer */
.mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 40px 80px;
    border-style: solid;
  }
  
.mainmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  
.mainmenu .menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
.mainmenu .menu2 i{
    margin-left: 25px;
}

/* about */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
    margin-top: 90px;
  }
  
  .about img {
    width: 800px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .about-text h2 {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
  }
  
  .about-text p {
    font-size: 20px;
    color: #585858;
    margin: 10px 0;
    margin-bottom: 40px;
  }